<div class="container left">
  <div class="header">
    <button>Search for places</button>
    <div>
      <ng-icon name="phosphorCrosshairDuotone" size="30" color="white"></ng-icon>
    </div>
  </div>

  <ng-icon name="phosphorCloudDuotone" size="90" color="white"></ng-icon>
  
  <h1 class="grades">15<span class="scale">°C</span></h1>
  
  <h2 class="description">Shower</h2>

  <div class="footer">
    <div class="flex gap-1">
      <p>Today</p>
      <p>•</p>
      <p>Fri, 5 Jun</p>
    </div>
    <div class="flex align-center justify-center gap-1">
      <ng-icon name="phosphorMapPinDuotone" size="20" color="white"></ng-icon>
      <p>London</p>
    </div>
  </div>
</div>