.container {
  background-color: #1E213A;
  display: flex;
  row-gap: 5rem;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.grades {
  font-size: 144px;
  font-weight: 500;
  margin: 0;
}

.scale {
  font-size: 48px;
  font-weight: 500;
  color: #A09FB1;
}

.description {
  margin: 0;
  font-size: 36px;
  font-weight: 600;
  color: #A09FB1;
}